<a href="https://colab.research.google.com/github/GeeksGhost/Deep_learning_challenge/blob/main/AlphabetSoupCharity_Optimization.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [11]:
# Identifying variables that serves as dependent variables and features of independent variables
# Dependent variables
y = application_df['IS_SUCCESSFUL'].values

# independent variables
X = application_df.drop(columns= ['EIN', 'NAME', 'IS_SUCCESSFUL']).values

application_df = application_df.drop(columns= ['EIN', 'NAME'])
application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [12]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [13]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
app_types = application_df['APPLICATION_TYPE'].value_counts()

app_types

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [16]:
# Binning rare 'APPLICATION_TYPE' values
rare_apps = app_types[app_types < 100].index
application_df["APPLICATION_TYPE"] = application_df["APPLICATION_TYPE"].apply(lambda x: 'Other' if x in rare_apps else x)

rare_apps

Index(['T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17'], dtype='object', name='APPLICATION_TYPE')

In [17]:
# Check the replacements of rare categories and verify changes
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: count, dtype: int64

In [18]:
# Encoding categorical variables
application_df_encoded = pd.get_dummies(application_df)

In [23]:
# Features (X) and target (y)
X = application_df_encoded.drop(columns=["IS_SUCCESSFUL"]).values
y = application_df_encoded["IS_SUCCESSFUL"].values

# Splitting the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scaling the features
scaler = StandardScaler()

# Fit to the training data
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [31]:
# Build the neural network model
nn_model = tf.keras.models.Sequential()

# Add layers to the model without regularization
nn_model.add(tf.keras.layers.Dense(units=32, activation="relu", input_dim=X_train_scaled.shape[1]))  # First hidden layer
nn_model.add(tf.keras.layers.Dropout(0.5))  # Dropout layer with 50% rate

nn_model.add(tf.keras.layers.Dense(units=64, activation="relu"))  # Second hidden layer
nn_model.add(tf.keras.layers.Dropout(0.5))  # Dropout layer with 50% rate

nn_model.add(tf.keras.layers.Dense(units=16, activation="relu"))  # Third hidden layer
nn_model.add(tf.keras.layers.Dropout(0.5))  # Dropout layer with 50% rate

nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))  # Output layer

# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100, validation_split=0.2, verbose=1)

Epoch 1/100
686/686  4s 3ms/step - accuracy: 0.5602 - loss: 0.7092 - val_accuracy: 0.7232 - val_loss: 0.6153
Epoch 2/100
686/686  2s 2ms/step - accuracy: 0.6788 - loss: 0.6351 - val_accuracy: 0.7362 - val_loss: 0.5803
Epoch 3/100
686/686  3s 4ms/step - accuracy: 0.7012 - loss: 0.6101 - val_accuracy: 0.7382 - val_loss: 0.5631
Epoch 4/100
686/686  3s 4ms/step - accuracy: 0.7090 - loss: 0.5982 - val_accuracy: 0.7365 - val_loss: 0.5599
Epoch 5/100
686/686  4s 2ms/step - accuracy: 0.7112 - loss: 0.6026 - val_accuracy: 0.7374 - val_loss: 0.5554
Epoch 6/100
686/686  2s 2ms/step - accuracy: 0.7108 - loss: 0.5898 - val_accuracy: 0.7363 - val_loss: 0.5522
Epoch 7/100
686/686  3s 2ms/step - accuracy: 0.7250 - loss: 0.5757 - val_accuracy: 0.7385 - val_loss: 0.5629
Epoch 8/100
686/686  3s 4ms/step - accuracy: 0.7186 - loss: 0.5815 - val_accuracy: 0.7378 - val_loss: 0.5559
Epoch 9/100
686/686  2s 2ms/step - accuracy: 0.7229 - loss: 0.5774 - val_accuracy: 0.7378 - val_loss: 0.5536
Epoch 10/100
686/686  2s 2ms/step - accuracy: 0.7190 - loss: 0.5823 - val_accuracy: 0.7367 - val_loss: 0.5523
Epoch 11/100
686/686  2s 2ms/step - accuracy: 0.7165 - loss: 0.5805 - val_accuracy: 0.7376 - val_loss: 0.5509
Epoch 12/100
686/686  2s 2ms/step - accuracy: 0.7205 - loss: 0.5801 - val_accuracy: 0.7378 - val_loss: 0.5497
Epoch 13/100
686/686  2s 2ms/step - accuracy: 0.7206 - loss: 0.5747 - val_accuracy: 0.7372 - val_loss: 0.5520
Epoch 14/100
686/686  3s 3ms/step - accuracy: 0.7197 - loss: 0.5732 - val_accuracy: 0.7383 - val_loss: 0.5506
Epoch 15/100
686/686  3s 3ms/step - accuracy: 0.7234 - loss: 0.5697 - val_accuracy: 0.7392 - val_loss: 0.5494
Epoch 16/100
686/686  2s 2ms/step - accuracy: 0.7251 - loss: 0.5700 - val_accuracy: 0.7382 - val_loss: 0.5521
Epoch 17/100
686/686  2s 2ms/step - accuracy: 0.7195 - loss: 0.5720 - val_accuracy: 0.7383 - val_loss: 0.5553
Epoch 18/100
686/686  2s 2ms/step - accuracy: 0.7248 - loss: 0.5707 - val_accuracy: 0.7376 - val_loss: 0.5535
Epoch 19/100
686/686  2s 2ms/step - accuracy: 0.7198 - loss: 0.5802 - val_accuracy: 0.7409 - val_loss: 0.5543
Epoch 20/100
686/686  2s 2ms/step - accuracy: 0.7217 - loss: 0.5752 - val_accuracy: 0.7369 - val_loss: 0.5542
Epoch 21/100
686/686  2s 3ms/step - accuracy: 0.7235 - loss: 0.5700 - val_accuracy: 0.7378 - val_loss: 0.5498
Epoch 22/100
686/686  2s 3ms/step - accuracy: 0.7216 - loss: 0.5706 - val_accuracy: 0.7380 - val_loss: 0.5510
Epoch 23/100
686/686  2s 2ms/step - accuracy: 0.7238 - loss: 0.5679 - val_accuracy: 0.7392 - val_loss: 0.5548
Epoch 24/100
686/686  3s 2ms/step - accuracy: 0.7263 - loss: 0.5695 - val_accuracy: 0.7394 - val_loss: 0.5520
Epoch 25/100
686/686  2s 3ms/step - accuracy: 0.7214 - loss: 0.5754 - val_accuracy: 0.7383 - val_loss: 0.5545
Epoch 26/100
686/686  2s 2ms/step - accuracy: 0.7255 - loss: 0.5657 - val_accuracy: 0.7392 - val_loss: 0.5507
Epoch 27/100
686/686  3s 3ms/step - accuracy: 0.7263 - loss: 0.5740 - val_accuracy: 0.7389 - val_loss: 0.5520
Epoch 28/100
686/686  3s 3ms/step - accuracy: 0.7244 - loss: 0.5716 - val_accuracy: 0.7403 - val_loss: 0.5538
Epoch 29/100
686/686  2s 2ms/step - accuracy: 0.7207 - loss: 0.5714 - val_accuracy: 0.7405 - val_loss: 0.5501
Epoch 30/100
686/686  2s 2ms/step - accuracy: 0.7250 - loss: 0.5686 - val_accuracy: 0.7391 - val_loss: 0.5548
Epoch 31/100
686/686  3s 2ms/step - accuracy: 0.7198 - loss: 0.5720 - val_accuracy: 0.7382 - val_loss: 0.5468
Epoch 32/100
686/686  2s 2ms/step - accuracy: 0.7237 - loss: 0.5671 - val_accuracy: 0.7374 - val_loss: 0.5495
Epoch 33/100
686/686  2s 3ms/step - accuracy: 0.7242 - loss: 0.5673 - val_accuracy: 0.7382 - val_loss: 0.5490
Epoch 34/100
686/686  3s 4ms/step - accuracy: 0.7272 - loss: 0.5626 - val_accuracy: 0.7378 - val_loss: 0.5536
Epoch 35/100
686/686  2s 2ms/step - accuracy: 0.7233 - loss: 0.5651 - val_accuracy: 0.7369 - val_loss: 0.5486
Epoch 36/100
686/686  3s 2ms/step - accuracy: 0.7202 - loss: 0.5693 - val_accuracy: 0.7369 - val_loss: 0.5502
Epoch 37/100
686/686  3s 3ms/step - accuracy: 0.7185 - loss: 0.5730 - val_accuracy: 0.7378 - val_loss: 0.5505
Epoch 38/100
686/686  2s 2ms/step - accuracy: 0.7229 - loss: 0.5682 - val_accuracy: 0.7360 - val_loss: 0.5497
Epoch 39/100
686/686  4s 4ms/step - accuracy: 0.7250 - loss: 0.5673 - val_accuracy: 0.7367 - val_loss: 0.5502
Epoch 40/100
686/686  2s 2ms/step - accuracy: 0.7220 - loss: 0.5650 - val_accuracy: 0.7371 - val_loss: 0.5513
Epoch 41/100
686/686  2s 2ms/step - accuracy: 0.7274 - loss: 0.5656 - val_accuracy: 0.7376 - val_loss: 0.5559
Epoch 42/100
686/686  3s 2ms/step - accuracy: 0.7174 - loss: 0.5717 - val_accuracy: 0.7363 - val_loss: 0.5503
Epoch 43/100
686/686  2s 2ms/step - accuracy: 0.7191 - loss: 0.5711 - val_accuracy: 0.7374 - val_loss: 0.5513
Epoch 44/100
686/686  5s 5ms/step - accuracy: 0.7311 - loss: 0.5640 - val_accuracy: 0.7378 - val_loss: 0.5518
Epoch 45/100
686/686  4s 4ms/step - accuracy: 0.7200 - loss: 0.5705 - val_accuracy: 0.7367 - val_loss: 0.5520
Epoch 46/100
686/686  5s 4ms/step - accuracy: 0.7320 - loss: 0.5621 - val_accuracy: 0.7382 - val_loss: 0.5544
Epoch 47/100
686/686  5s 4ms/step - accuracy: 0.7226 - loss: 0.5661 - val_accuracy: 0.7363 - val_loss: 0.5518
Epoch 48/100
686/686  2s 3ms/step - accuracy: 0.7261 - loss: 0.5702 - val_accuracy: 0.7394 - val_loss: 0.5506
Epoch 49/100
686/686  2s 2ms/step - accuracy: 0.7240 - loss: 0.5663 - val_accuracy: 0.7389 - val_loss: 0.5508
Epoch 50/100
686/686  2s 2ms/step - accuracy: 0.7216 - loss: 0.5685 - val_accuracy: 0.7383 - val_loss: 0.5505
Epoch 51/100
686/686  2s 2ms/step - accuracy: 0.7269 - loss: 0.5691 - val_accuracy: 0.7378 - val_loss: 0.5499
Epoch 52/100
686/686  3s 2ms/step - accuracy: 0.7330 - loss: 0.5606 - val_accuracy: 0.7383 - val_loss: 0.5513
Epoch 53/100
686/686  2s 3ms/step - accuracy: 0.7241 - loss: 0.5705 - val_accuracy: 0.7372 - val_loss: 0.5501
Epoch 54/100
686/686  3s 3ms/step - accuracy: 0.7331 - loss: 0.5619 - val_accuracy: 0.7380 - val_loss: 0.5523
Epoch 55/100
686/686  2s 2ms/step - accuracy: 0.7322 - loss: 0.5654 - val_accuracy: 0.7387 - val_loss: 0.5494
Epoch 56/100
686/686  2s 2ms/step - accuracy: 0.7238 - loss: 0.5740 - val_accuracy: 0.7376 - val_loss: 0.5470
Epoch 57/100
686/686  3s 2ms/step - accuracy: 0.7278 - loss: 0.5646 - val_accuracy: 0.7383 - val_loss: 0.5503
Epoch 58/100
686/686  3s 2ms/step - accuracy: 0.7331 - loss: 0.5610 - val_accuracy: 0.7396 - val_loss: 0.5497
Epoch 59/100
686/686  2s 4ms/step - accuracy: 0.7278 - loss: 0.5682 - val_accuracy: 0.7385 - val_loss: 0.5500
Epoch 60/100
686/686  2s 3ms/step - accuracy: 0.7260 - loss: 0.5685 - val_accuracy: 0.7378 - val_loss: 0.5499
Epoch 61/100
686/686  2s 2ms/step - accuracy: 0.7257 - loss: 0.5693 - val_accuracy: 0.7380 - val_loss: 0.5504
Epoch 62/100
686/686  3s 2ms/step - accuracy: 0.7233 - loss: 0.5692 - val_accuracy: 0.7391 - val_loss: 0.5519
Epoch 63/100
686/686  3s 3ms/step - accuracy: 0.7257 - loss: 0.5720 - val_accuracy: 0.7374 - val_loss: 0.5506
Epoch 64/100
686/686  2s 2ms/step - accuracy: 0.7298 - loss: 0.5635 - val_accuracy: 0.7383 - val_loss: 0.5493
Epoch 65/100
686/686  2s 3ms/step - accuracy: 0.7297 - loss: 0.5627 - val_accuracy: 0.7380 - val_loss: 0.5500
Epoch 66/100
686/686  2s 3ms/step - accuracy: 0.7309 - loss: 0.5613 - val_accuracy: 0.7387 - val_loss: 0.5534
Epoch 67/100
686/686  2s 3ms/step - accuracy: 0.7309 - loss: 0.5666 - val_accuracy: 0.7392 - val_loss: 0.5498
Epoch 68/100
686/686  2s 2ms/step - accuracy: 0.7261 - loss: 0.5680 - val_accuracy: 0.7392 - val_loss: 0.5503
Epoch 69/100
686/686  2s 2ms/step - accuracy: 0.7300 - loss: 0.5675 - val_accuracy: 0.7407 - val_loss: 0.5489
Epoch 70/100
686/686  2s 2ms/step - accuracy: 0.7261 - loss: 0.5607 - val_accuracy: 0.7394 - val_loss: 0.5504
Epoch 71/100
686/686  3s 3ms/step - accuracy: 0.7309 - loss: 0.5615 - val_accuracy: 0.7391 - val_loss: 0.5510
Epoch 72/100
686/686  3s 4ms/step - accuracy: 0.7291 - loss: 0.5672 - val_accuracy: 0.7383 - val_loss: 0.5501
Epoch 73/100
686/686  3s 5ms/step - accuracy: 0.7225 - loss: 0.5755 - val_accuracy: 0.7383 - val_loss: 0.5496
Epoch 74/100
686/686  4s 2ms/step - accuracy: 0.7300 - loss: 0.5641 - val_accuracy: 0.7382 - val_loss: 0.5541
Epoch 75/100
686/686  3s 2ms/step - accuracy: 0.7321 - loss: 0.5666 - val_accuracy: 0.7382 - val_loss: 0.5507
Epoch 76/100
686/686  2s 3ms/step - accuracy: 0.7227 - loss: 0.5657 - val_accuracy: 0.7374 - val_loss: 0.5525
Epoch 77/100
686/686  3s 3ms/step - accuracy: 0.7228 - loss: 0.5692 - val_accuracy: 0.7394 - val_loss: 0.5474
Epoch 78/100
686/686  3s 3ms/step - accuracy: 0.7274 - loss: 0.5660 - val_accuracy: 0.7387 - val_loss: 0.5515
Epoch 79/100
686/686  2s 2ms/step - accuracy: 0.7280 - loss: 0.5639 - val_accuracy: 0.7411 - val_loss: 0.5507
Epoch 80/100
686/686  3s 3ms/step - accuracy: 0.7327 - loss: 0.5623 - val_accuracy: 0.7392 - val_loss: 0.5482
Epoch 81/100
686/686  2s 2ms/step - accuracy: 0.7275 - loss: 0.5648 - val_accuracy: 0.7396 - val_loss: 0.5529
Epoch 82/100
686/686  2s 2ms/step - accuracy: 0.7299 - loss: 0.5633 - val_accuracy: 0.7382 - val_loss: 0.5504
Epoch 83/100
686/686  3s 3ms/step - accuracy: 0.7304 - loss: 0.5640 - val_accuracy: 0.7391 - val_loss: 0.5470
Epoch 84/100
686/686  3s 4ms/step - accuracy: 0.7350 - loss: 0.5635 - val_accuracy: 0.7400 - val_loss: 0.5527
Epoch 85/100
686/686  2s 3ms/step - accuracy: 0.7248 - loss: 0.5674 - val_accuracy: 0.7394 - val_loss: 0.5498
Epoch 86/100
686/686  2s 2ms/step - accuracy: 0.7242 - loss: 0.5659 - val_accuracy: 0.7392 - val_loss: 0.5467
Epoch 87/100
686/686  2s 2ms/step - accuracy: 0.7252 - loss: 0.5681 - val_accuracy: 0.7396 - val_loss: 0.5475
Epoch 88/100
686/686  3s 3ms/step - accuracy: 0.7245 - loss: 0.5648 - val_accuracy: 0.7392 - val_loss: 0.5493
Epoch 89/100
686/686  2s 2ms/step - accuracy: 0.7247 - loss: 0.5671 - val_accuracy: 0.7389 - val_loss: 0.5476
Epoch 90/100
686/686  2s 3ms/step - accuracy: 0.7247 - loss: 0.5695 - val_accuracy: 0.7394 - val_loss: 0.5471
Epoch 91/100
686/686  3s 4ms/step - accuracy: 0.7288 - loss: 0.5607 - val_accuracy: 0.7383 - val_loss: 0.5505
Epoch 92/100
686/686  2s 3ms/step - accuracy: 0.7326 - loss: 0.5613 - val_accuracy: 0.7383 - val_loss: 0.5473
Epoch 93/100
686/686  2s 2ms/step - accuracy: 0.7293 - loss: 0.5614 - val_accuracy: 0.7382 - val_loss: 0.5466
Epoch 94/100
686/686  2s 2ms/step - accuracy: 0.7212 - loss: 0.5636 - val_accuracy: 0.7394 - val_loss: 0.5496
Epoch 95/100
686/686  3s 2ms/step - accuracy: 0.7293 - loss: 0.5635 - val_accuracy: 0.7392 - val_loss: 0.5490
Epoch 96/100
686/686  3s 3ms/step - accuracy: 0.7281 - loss: 0.5680 - val_accuracy: 0.7387 - val_loss: 0.5478
Epoch 97/100
686/686  3s 4ms/step - accuracy: 0.7319 - loss: 0.5596 - val_accuracy: 0.7387 - val_loss: 0.5510
Epoch 98/100
686/686  2s 2ms/step - accuracy: 0.7282 - loss: 0.5621 - val_accuracy: 0.7392 - val_loss: 0.5495
Epoch 99/100
686/686  2s 2ms/step - accuracy: 0.7300 - loss: 0.5628 - val_accuracy: 0.7389 - val_loss: 0.5505
Epoch 100/100
686/686  2s 2ms/step - accuracy: 0.7249 - loss: 0.5675 - val_accuracy: 0.7389 - val_loss: 0.5452

In [32]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled, y_test, verbose=1)

# Print the accuracy and loss
print(f"Loss: {model_loss}")
print(f"Accuracy: {model_accuracy}")

215/215  1s 2ms/step - accuracy: 0.7272 - loss: 0.5541
Loss: 0.557885468006134
Accuracy: 0.7255101799964905